:root {
  --green: green;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 .1rem 1rem rgba(0, 0, 0.1);
  --border: 2rem solid rgba(0, 0, 0.1);
  --outline: 1rem solid rgba(0, 0, 0.1);
}


* {
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .1s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #eee;
}

/* Banner Code */
section {
  padding: 2rem 9%;
}

.header {
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  border: 4px solid #eee;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 3rem;
  color: var(--black);
  font-weight: bolder;
}

.header .logo i {
  color: var(--green);
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

.header .navbar a:hover {
  color: var(--green);
}

.header .icons div {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  color: var(--black);
  font-size: 2rem;
  margin-right: .3rem;
  text-align: center;
}

.header .icons div:hover {
  background: var(--green);
  color: white;
  cursor: pointer;
}

#menu-btn {
  display: none;
}

.header .search-form {
  border: 1px solid #130f40;
  position: absolute;
  top: 130%;
  right: -110%;
  width: 40rem;
  height: 5rem;
  background: #cfcfcf;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  box-shadow: var(--box-shadow);
}

.header .search-form.active {
  right: 2rem;
  transition: .2s linear;
}

.header .search-form input {
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--black);
}

.header .search-form label:hover {
  cursor: pointer;
  color: var(--green);
}

.header .shopping-cart {
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 120%;
  right: -120%;
  padding: 1rem;
  width: 40rem;
  background: #cfcfcf;
  font-size: 1.5rem;
}

.header .shopping-cart.active {
  right: 2rem;
  transition: .2s linear;
}

.header .shopping-cart .box {
  border: 1px solid #cccccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  margin: 1rem 0;
  text-align: center;
  background: #eee;
}

.header .shopping-cart .box img {
  padding: 0 2rem;
  height: 10rem;
}


.header .shopping-cart .box .fa-trash {
  font-size: 2rem;
  position: absolute;
  top: 40%;
  right: 2rem;
  cursor: pointer;
  color: var(--light-color);

}

.header .shopping-cart .box .fa-trash:hover {
  color: var(--green);
}

.header .shopping-cart .box .content h3 {
  color: var(--black);
  font-size: 1.7rem;
  padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
  color: var(--light-color);
  font-size: 1.6rem;
}

.header .shopping-cart .total {
  border: 1px solid black;
  border-radius: 10px;
  background: #cfcfcf;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
  color: var(--black);
}

.btn {
  border: 1px solid var(--black);
  border-radius: 10px;
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  columns: var(--black);
  width: 100%;
  text-align: center;
  color: var(--black);
  background: none;
}

.btn:hover {
  cursor: pointer;
  background: var(--green);
  color: white;
}

.header .login-form {
  border: 1px solid #eee;
  position: absolute;
  top: 120%;
  right: -120%;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius: 20px;
  background: #cfcfcf;
  text-align: center;
  font-size: 1.2rem;
}

.header .login-form p {
  line-height: 20px;
  color: var(--black);
  padding: .5rem 0;
}

.header .login-form input::placeholder {
  color: var(--black);
}

.header .login-form h3 {
  font-size: 1.7rem;
}

.header .login-form .box {
  width: 100%;
  border: 1px solid var(--black);
  background-color: #eee;
  margin: .7rem 0;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/banner-img.jpg) no-repeat;
  border: 10px double #cfcfcf;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 17rem;
  margin: 10px;
  height: 50rem;
  margin-top: 140px;
}

.home .content {
  text-align: center;
  border: 5px double #cfcfcf;
  border-radius: 20px;
  width: 70rem;
  padding: 40px;
  line-height: 50px;
  box-shadow: var(--box-shadow);
}

.home .content h3 {
  color: var(--black);
  font-size: 3rem;
}

.home .content h3 span {
  color: var(--green);
}

.home .content p {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 0;
}

.home .btn {
  width: 50%;
}

.header .login-form p a {
  font-size: 1.2rem;
  padding: .5rem 0;
  color: var(--green);

}

.header .login-form.active {
  right: 2rem;
  transition: .2s linear;
}

.header .navbar.active {
  right: 2rem;
  transition: .2s linear;
}

/* Media Queries */
@media (max-width:991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width:768px) {

  #menu-btn {
    display: inline-block;
  }

  .header .search-form {
    width: 90%;
  }

  .header .navbar {
    position: absolute;
    top: 120%;
    right: -120%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background-color: #fff;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }
}